<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="spacer"></span>
  <span>
    <button mat-button (click)="toggleView()">{{getToggleText(shouldViewWishlist$ | async)}}</button>
  </span>
</mat-toolbar>
<div *ngIf="(shouldViewWishlist$ | async) === false && !isLoading(bookLoadState$ | async)">
  <mat-toolbar>Available Books</mat-toolbar>
  <app-book-list [books]="availableBook$| async" (wishlistToggleEmitter)="onToggleWishedBook($event)"></app-book-list>
</div>
<div *ngIf="(shouldViewWishlist$ | async) && !isLoading(bookLoadState$ | async)">
<mat-toolbar color="accent">Wished Books</mat-toolbar>
<app-book-list [books]="wishedBooks$ | async" (wishlistToggleEmitter)="onToggleWishedBook($event)"></app-book-list>
</div>
<div *ngIf="isLoading(bookLoadState$| async)">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="hasLoadingFailed(bookLoadState$ | async)">
  <app-banner [loadState]="bookLoadState$ | async" [message]="bookLoadError$ | async"></app-banner>
</div>

